<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhu.mybatisplusfilter.mapper.UserMapper">
    <update id="updateId">
        update user
        set name ='sd'
        where id in (select * from meassge)
    </update>

    <select id="getAllMsg" resultType="com.pzhu.mybatisplusfilter.Message">
        select message.*
        from user,
             message
        where user.id = message.user_id
          and user.name = #{name}
        union all
        select message.*
        from user,
             message
        where user.id = message.user_id
          and user.name = #{name'}
    </select>
    <select id="test2" resultType="com.pzhu.mybatisplusfilter.vo.UserVo">
        select user.*
        from user
    </select>
</mapper>